{% extends 'shared/main.html' %}
{% load static %}
{% block title %}{{ block.super }} حریم خصوصی {% endblock %}
{% block body %}
<div id="container">
    <div class="container">
      	<!-- Breadcrumb Start-->
      	<ul class="breadcrumb">
	        <li><a href={% url "index" %}><i class="fa fa-home"></i></a></li>
	        <li><a href={% url "private" %}>حریم خصوصی</a></li>
      	</ul>
      	<!-- Breadcrumb End-->
      	<div class="row">
       		<!--Middle Part Start-->
       		<div id="content" class="col-sm-12">
          		<h1 class="title">حریم خصوصی</h1>
          		<div class="row">
            		<div class="col-sm-12">
                        دیجی شاپ ضمن احترامی که برای حریم شخصی کاربران قائل است، برای مطالعه، ثبت نظر یا استفاده از برخی امکانات وب سایت اطلاعاتی را از کاربران درخواست می‌کند تا بتواند خدماتی امن و مطمئن را به کاربران ارائه دهد. برای پردازش و ارسال سفارش، اطلاعاتی مانند آدرس، شماره تلفن و ایمیل مورد نیاز است و از آنجا که کلیه فعالیت‌های دیجی‌کالا قانونی و مبتنی بر قوانین تجارت الکترونیک صورت می‌گیرد و طی فرایند خرید، فاکتور رسمی و بنا به درخواست مشتریان حقوقی گواهی ارزش افزوده صادر می‌شود، از این رو وارد کردن  اطلاعاتی مانند نام و کد ملی برای اشخاص حقیقی یا کد اقتصادی و شناسه ملی برای خریدهای سازمانی لازم است. مشتریان می‌توانند نام، آدرس و تلفن شخص دیگری را برای تحویل گرفتن سفارش وارد کنند و دیجی‌کالا تنها برای ارسال همان سفارش، از این اطلاعات استفاده خواهد کرد.
<br/>
همچنین دیجی‌کالا ممکن است برای ارتباط با مشتریان، بهینه سازی محتوای وب سایت و تحقیقات بازاریابی از برخی اطلاعات استفاده کند و برای اطلاع رسانی رویدادها  و اخبار، خدمات و سرویس‌های ویژه یا پروموشن‌ها، برای اعضای وب سایت ایمیل یا پیامک ارسال نماید. در صورتی که کاربران تمایل به دریافت اینگونه ایمیل و پیامک‌ها نداشته باشند، می‌توانند عضویت دریافت خبرنامه دیجی‌کالا را در پروفایل خود لغو کنند.
<br/>
توجه داشته باشید که  ۳۰۰۰۲۸۱۰۳ تنها شماره‌ای  است که دیجی‌کالا از طریق آن برای کاربران و مشتریان خود پیامک (اس ام اس) ارسال می‌کند. بنابراین ارسال هرگونه پیامک تحت عنوان دیجی‌کالا، با هر شماره دیگری تخلف و سوء استفاده از نام دیجی‌کالا است و در صورت دریافت چنین پیامکی، لطفاً جهت پیگیری قانونی آن را به Info@digikala.com اطلاع دهید. همچنین ۳۰۰۰۲۸۱۰۳، سامانه ارسال پیامک است که وضعیت پردازش سفارش یا رویدادها، خدمات و سرویس‌های ویژه دیجی‌کالا را به اطلاع کاربران می‌رساند و روشن است که امکان دریافت پیام‌های شما از طریق این شماره وجود ندارد.
<br/>
دیجی‌کالا ممکن است نقد و نظرهای ارسالی کاربران را در راستای رعایت  قوانین وب سایت ویرایش کند. همچنین اگر نظر یا پیام ارسال شده توسط کاربر، مشمول مصادیق محتوای مجرمانه باشد، دیجی‌کالا می‌تواند از اطلاعات ثبت شده برای پیگیری قانونی استفاده کند.
<br/>
حفظ و نگهداری رمز عبور بر عهده کاربران است و برای جلوگیری از هرگونه سوء استفاده احتمالی، کاربران نباید آن را برای شخص دیگری فاش کنند. دیجی‌کالا هویت شخصی کاربران را محرمانه می‌داند و اطلاعات شخصی آنان را به هیچ شخص یا سازمان دیگری منتقل نمی‌کند، مگر اینکه با حکم قانونی مجبور باشد در اختیار مراجع ذی‌صلاح قرار دهد.
                        
            		</div>
          		</div>
        	</div>
      	</div>
    </div>
</div>
{% endblock %}