{% extends 'shared/main.html' %}
{% load static %}
{% block title %} {{ block.super }} قوانین و شرایط {% endblock %}
{% block body %}
<div id="container">
    <div class="container">
      	<!-- Breadcrumb Start-->
      	<ul class="breadcrumb">
	        <li><a href={% url "index" %}><i class="fa fa-home"></i></a></li>
	        <li><a href={% url "rules" %}>قوانین و شرایط</a></li>
      	</ul>
      	<!-- Breadcrumb End-->
      	<div class="row">
       		<!--Middle Part Start-->
       		<div id="content" class="col-sm-12">
          		<h1 class="title">قوانین و شرایط</h1>
          		<div class="row">
            		<div class="col-sm-12">
                    محتویات این صفحه در هر زمانی قابل تغییر است و این حق برای "صاحب امتیاز سایت دیجی شاپ" محفوظ بوده که بدون اطلاع و هماهنگی قبلی، اقدام به، به روز رسانی و یا تغییر در محتوای این صفحه کند. کاربران موظف هستند که به صورت دوره ای به این صفحه مراجعه کرده تا از تغییرات احتمالی در قوانین آگاه شوند. همچنین "گروه اینترنتی دیجی شاپ" بعد از هر بار به روز رسانی خبری مبنی بر تغییرات در این صفحه را در قسمت اخبار منتشر خواهد کرد.
 <br/>
١ - خدمات و محتویات وب سایت، تنها برای استفاده شخصی و غیر تجاری شما عرضه شده است. هر گونه سوء استفاده از این اطلاعات پیگرد قانونی داشته و هیچ فرد حقیقی، حقوقی یا وب سایتی به هیچ عنوان نمی تواند از اطلاعات موجود در وب سایت برای فروش، تولید مجدد یا ایجاد ترافیک در وب سایت خود استفاده کند. در صورت تمایل به استفاده از سرویس ها و محتویات وب سایت جهت مقاصد تجاری حتما باید از قبل ما را مطلع ساخته و با ما تماس بگیرید. استفاده از محتویات "سایت فروشگاه دیجی شاپ" برای وب سایت ها و وبلاگ های شخصی تنها به شرطی که منافع تجاری مد نظر نباشد با ذکر منبع و آدرس وب سایت مجاز است.
 <br/>
٢ - اطلاعات موجود در "سایت فروشگاه دیجی شاپ" از منابع معتبر و مرتبط و نیز شرکت های سازنده محصولات جمع آوری و در وب سایت قرار داده شده است. ممکن است اطلاعات، محصولات و سرویس های موجود یا ارائه شده در "سایت فروشگاه دیجی شاپ" در مواردی غیر دقیق یا دارای خطاهای نگارشی باشد. "سایت فروشگاه دیجی شاپ" مسئولیتی را در قبال اطلاعات ارائه شده بر عهده نداشته و به طور مداوم اطلاعات و محتویات وب سایت را به روز خواهد کرد.
 <br/>
٣ - کاربران می بایست هنگام ثبت نام و سفارش کالای مورد نظر خود، فرم مربوطه را با اطلاعات صحیح و به صورت کامل پر کنند. درصورت ورود اطلاعات ناقص یا نادرست، سفارش کاربر قابل پیگیری و تحویل نخواهد بود.
 <br/>
٤ - شما به صاحب امتیاز سایت دیجی شاپ اطمینان می دهید که از این وب سایت برای رسیدن به مقاصدی که بر خلاف شرایط استفاده از "سایت فروشگاه دیجی شاپ" می باشد استفاده نخواهید کرد. شما از "سایت فروشگاه دیجی شاپ" به گونه ای که باعث آسیب دیدن، از کار انداختن یا معیوب ساختن وب سایت شود استفاده نخواهید کرد. همچنین شما مجاز به تلاش برای دسترسی به اطلاعات، محتویات یا ورودی هایی که عمداً به طور متعارف در دسترس قرار نگرفته یا از طریق صفحات سایت ارائه نشده اند نیستید.
 <br/>
٥ - "سایت فروشگاه دیجی شاپ" ممکن است دارای لینک هایی به وب سایت های دیگر باشد. ممکن است این وب سایت ها تحت کنترل ما نباشند و صاحب امتیاز سایت دیجی شاپ هیچگونه مسئولیتی در قبال محتویات این وب سایتها از جمله لینک های قرار گرفته در این وب سایت ها ندارد. "سایت فروشگاه دیجی شاپ" این لینک ها را برای سهولت شما فراهم کرده و وجود هر یک از این لینک ها به معنای تائید یا هر نوع ارتباط ما با اداره کنندگان سایر وب سایت ها نمی باشد. وب سایت هایی که در صفحات "سایت فروشگاه دیجی شاپ" لینک می شوند ممکن است توسط افرادی خارج از گروه ما اداره شده، لذا "سایت فروشگاه دیجی شاپ" نمی تواند در مورد آنها ضمانتی داشته باشد. شما توافق می کنید مسئولیت هر گونه خسارت و آسیب احتمالی وارده به رایانه تان را از طریق ویروس یا فایل های مخرب دیگر که می تواند ناشی از دریافت و استفاده از داده ها و فایل های متعلق به وب سایت های لینک شده در "سایت فروشگاه دیجی شاپ" باشد، خود برعهده خواهید داشت.
 <br/>
٦ - "سایت فروشگاه دیجی شاپ" هیچ گونه مسئولیتی در رابطه با حذف شدن صفحات وب سایت خود و یا لینک های مرده نمی پذیرد. سرویس های وب سایت «آنگونه که هست» ارائه می شوند و "سایت فروشگاه دیجی شاپ" تحت هیچ شرایطی مسئولیت تاخیر یا عدم کارکرد وب سایت را که می تواند ناشی از مشکلات اینترنتی، نیروی انسانی، عوامل طبیعی، خرابی تجهیزات کامپیوتری، مخابراتی و غیره باشد بر عهده ندارد.
 <br/>
٧ - "سایت فروشگاه دیجی شاپ" اطمینان، سهولت، دقت اطلاعات، محصولات، سرویس ها و گرافیک موجود را تضمین نکرده و آنها را بدون هر گونه قید یا تضمینی «آنگونه که هست» ارائه می کند. "سایت فروشگاه دیجی شاپ" تحت هیچ شرایطی خسارت های احتمالی ممکن را که به هر دلیل به خاطر از دست دادن دسترسی یا اطلاعات در پی استفاده از "سایت فروشگاه دیجی شاپ" یا از تاخیر یا ناتوانی در استفاده از وب سایت یا سرویس های آن حاصل شود نمی پذیرد.
 <br/>
٨ - این توافق نامه تحت قوانین کشور ایران مقرر گشته و به معنای توافق کامل کاربر با شرایط استفاده از "سایت فروشگاه دیجی شاپ" خواهد بود و جایگزین کلیه توافقات قبلی یا جاری محسوب می شود.
 <br/>
٩ - "سایت فروشگاه دیجی شاپ" امکان دارد دارای سرویس هایی با قابلیت مشارکت عمومی موسوم به سرویس های جمعی، همچون اتاق گفتگو، تابلوی اعلانات، تالار گفتگو، نقد، گروه های خبری، شبکه دوستان و سایر سرویس هایی باشد که برای تسهیل ارتباط شما با دیگران (چه در مقیاس عمومی مثل تالار گفتگو و چه در مقیاس خصوصی مثل شبکه خصوصی دوستان) ارائه می شوند. شما توافق می کنید که از این سرویس های جمعی، فقط برای ثبت، ارسال و دریافت پیام هایی استفاده کنید که مناسب و مرتبط با آن سرویس خاص باشد.
 <br/>
١٠ - "سایت فروشگاه دیجی شاپ" الزامی به دیدبانی و کنترل سرویس های جمعی ندارد. با این وجود "سایت فروشگاه دیجی شاپ" این حق را برای خود محفوظ می دارد که محتویات ارسال شده در سرویس های جمعی را مرور و هرگونه ورودی نامناسب را پیگیری و در صورت نیاز و توان حذف کند.
 <br/>
١١ - ممکن است ما سرویس های خود را به هر دلیلی در زمان های مختلف و بدون اطلاع قبلی، تغییر داده و حق تغییر شرایط این سرویس ها نیز برای ما محفوظ خواهد بود. بنابراین، شرایط استفاده از سرویس های "سایت فروشگاه دیجی شاپ" هر از گاهی به روز خواهد شد. در این صورت تاریخ درج شده در بالای این صفحه نشان دهنده آخرین زمان به روز رسانی خواهد بود. شما توافق می کنید که استفاده مستمر شما از وب سایت به معنی پذیرش هرگونه تغییر می باشد. در صورتی که شرایط استفاده از سرویس ها شامل تغییرات عمده شود خبر آن در صفحه اولیه سایت اعلام خواهد شد.
 <br/>
۱۲ - هر کاربر حقیقی یا حقوقی حق دارد صرفا یک حساب کاربری در "سایت فروشگاه دیجی شاپ" ایجاد نماید. بدیهی است ایجاد بیش از یک حساب کاربری به عنوان تخلف محسوب خواهد شد و این حق برای "سایت فروشگاه دیجی شاپ" محفوظ است که در هر زمان و بدون اطلاع قبلی اقدام به مسدود کردن حساب های کاربری جعلی یا تکراری نماید.
 <br/>
۱۳ - حساب کاربری هر شخص حقیقی یا حقوقی در طرح "هدف" (همکاری در فروش) بعد از فعال شدن طبق روش های اعلامی (بعد از اولین خرید یا توسط کارشناسان فروشگاه)، به مدت ۲۵۰ روز فعال خواهد بود. این زمان بعد از انجام هر خرید توسط صاحب حساب کاربری یا دریافت پورسانت آنی، مجدد به ۲۵۰ روز بر میگردد.
 <br/>
تعهدات فروشنده و خریدار
            		</div>
          		</div>
        	</div>
      	</div>
    </div>
</div>
{% endblock %}